<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555697000152-3f2nbjtm01qntj1n2nvb83cohqaqq5pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555697000152-3f2nbjtm01qntj1n2nvb83cohqaqq5pm</string>
	<key>API_KEY</key>
	<string>AIzaSyDmv9KMU-hv-LZV2O9wLhCwxIpvhMWmiyk</string>
	<key>GCM_SENDER_ID</key>
	<string>555697000152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hhhauth.appAuth</string>
	<key>PROJECT_ID</key>
	<string>appauth-3cce4</string>
	<key>STORAGE_BUCKET</key>
	<string>appauth-3cce4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555697000152:ios:dadd54dc7c764f9bff91ad</string>
</dict>
</plist>