<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58996386691-gft2b34k86vc9tlm2k4l05adid68vkrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58996386691-gft2b34k86vc9tlm2k4l05adid68vkrq</string>
	<key>API_KEY</key>
	<string>AIzaSyD3E1gVs-wDJlUTqZZpz0mG9n0pw-b2Nxk</string>
	<key>GCM_SENDER_ID</key>
	<string>58996386691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hhauth.authApp</string>
	<key>PROJECT_ID</key>
	<string>authapp-50779</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-50779.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58996386691:ios:88d4605af70695023c24b6</string>
</dict>
</plist>